@font-face {
  font-family: Airbnbcereal W Bk;
  src: url(airbnbcereal_w_bk-d86bb758e3e4d49073177723d837493d4b4268a893af0b41fbcbaf6d39eb1372.woff);
}

@font-face {
  font-family: Airbnbcereal W MD;
  src: url(airbnbcereal_w_md-a4885a20ff025dad159a2f9a06376a3e-2-.woff);
}

body {
  font-family: Airbnbcereal W BK;
  color: #222222;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-family: 'Airbnbcereal W MD';
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.hero h2 {
  margin-right: 8rem;
}

.catalogue h2 {
  margin-right: 16rem;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Airbnbcereal W MD';
}

h4 {
  font-size: 1rem;
  font-family: 'Airbnbcereal W MD';
}

.center-text {
  text-align: center;
}

a,
.question span{
  text-decoration: none;
  color: #007a87;
  cursor: pointer;
}

footer a {
  color: #222222;
}

.button {
  padding: 0.8rem 2rem;
  border: 1px solid #007a87;
  border-radius: 8px;
  font-family: 'Airbnbcereal W MD';
  text-align: center;
  transition: 0.3s;
}

.button:hover{
 	background-color: #007a87;
  color: #ffffff;
}

.btn-primary {
  background-color: #007a87;
  color: #ffffff;
}

.btn-primary:hover{
  background-color: #ffffff;
  color: #007a87;
}

.btn-small {
  padding: 0.75em 1em;
}

.mb-x-small {
  margin-bottom: 0.5rem;
}

.mt-1{
    margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-14 {
  margin-bottom: 14rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.p-top-xlarge {
  padding-top: 16rem;
}

.br{
  border-radius: 1em;
}

.br-tl{
  border-top-left-radius: 1em;
}

.br-tr{
  border-top-right-radius:1em;
}

.br-br{
  border-bottom-right-radius: 1em;
}

.br-bl{
  border-bottom-left-radius: 1em;
}

.logo {
  max-width: 8rem;
}

.wrapper {
  width: 100%;
  position: relative;
}

.wins.wrapper,
.campaigns.wrapper {
  background-color: #f7f7f7;
}

.container {
  max-width: 1440px;
  padding: 2.5rem 0;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.ver-center{
  align-items: center;
}

.hor-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-bottom {
  align-self: end;
}

.wrap{
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-gap {
  grid-gap: 0.5rem;
}

.two-row{
    grid-template-rows: repeat(2, 1fr);
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.twelve-col {
  grid-template-columns: repeat(12, 1fr);
}

.span-two {
  grid-column: span 2;
}

.start-two-span-twelve {
  grid-column: 2/12;
}

.start-two-span-four {
  grid-column: 3/7;
}

.start-two-span-three {
  grid-column: 2/7;
}

.start-three-span-eleven {
  grid-column: 3/11;
}

.start-four-span-ten {
  grid-column: 4/10;
}

.start-three-span-eleven {
  grid-column: 3/11;
}

.start-seven-span-eleven {
  grid-column: 7/11;
}

.start-eight-span-eleven {
  grid-column: 8/11;
}

.stretch{
  align-self: stretch;
}

header {
  position: fixed;
  min-width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
  padding: 2.5rem 5rem;
  align-items: center;
  z-index: 2;
}

.hero-image-grid .left,
.hero-image-grid .right {
  width: 50%;
  margin: 0.25rem;
}

.hero-image-grid .right {
  margin-top: 8rem;
}

.logistics .icon {
  width: 5em;
  height: 5em;
  border-radius: 100%;
  background-color: #f7f7f7;
  padding: 1.4rem;
}

.logistics-stat {
  flex-direction: column;
  align-items: center;
}

.logistics-stat p {
  max-width: 70%;
}

.graphic-container {
  padding: 4rem;
  background-color: #007a87;
}

.dora{
  background-image: url("assets/gif_3.gif");
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}

.graphic-container video {
  width: 50%;
}

.question {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
}

.question-answer{
    display: none;
    visibility: hidden;
}

.show-answer {
    display: block;
    visibility: visible;
}

.product-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  width: calc(25% - 1rem);
}

.product-card img{
    border-radius: 1rem 1rem 0 0;
}

.campaigns h2{
  padding: 0 8rem;
}

.product-images{
  align-self: flex-start;
}

.product-images .graphic-container{
  background-color:#F6F4F5;
}

footer {
  padding: 2.5rem 5rem;
  font-size: 0.75rem;
}

footer li {
  margin-right: 1em;
}

footer img {
  max-width: 1em;
  margin-right: 12px;
}

.modal{
  position: fixed;
  padding: 3rem;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(34, 34, 34, 0.4);
  opacity: 1;
  display: none;
  cursor: pointer;
  z-index:2;
}

.modal-content-wrapper{
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}


.video-wrapper, 
.demo-wrapper, 
.form-wrapper{
  display:none;
}

.close{
  cursor: pointer;
  background-color: #f7f7f7;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin-left: auto;
}

.close img {
  max-width: 1em;
}

.open-modal {
  display: block;
  animation-timing-function: ease-out;
  opacity: 1;
  animation-duration: 0.3s;
  animation-name: open-modal;
}

@keyframes open-modal{
  0% {
    opacity: 0;
    top: 4%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}


#form{
  border-radius: 8px;
  background-color: white;
  width: 35%;
  padding: 2em 2em 3em 2em;
  position: fixed;
  z-index: 20;
}

@media screen and (max-width: 1024px) {
  .start-three-span-eleven,
  .start-four-span-ten {
    grid-column: 2/12;
  }
  .start-two-span-four {
    grid-column: 2/7;
  }
  .start-eight-span-eleven {
    grid-column: 8/12;
  }
  .catalogue h2,
  .hero h2 {
    margin-right: 0;
  }
  .cash-info .pb-3 {
    display: none;
  }

  #form,
  #video{
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  header,
  footer {
    padding: 2.5rem 2.5rem;
  }

  .start-two-span-four,
  .start-two-span-three,
  .start-eight-span-eleven,
  .start-seven-span-eleven {
    grid-column: 2/12;
  }

  .considered-info,
  .our-tech-info,
  .cash-info{
    margin: 2rem 2rem 4rem 0;
  }

  .product-info{
    margin-top:2rem;
  }

  .p-top-xlarge {
    padding-top: 8rem;
  }

  .mb-3 {
    margin-bottom: 2rem;
  }

  .mb-5 {
    margin-bottom: 3rem;
  }

  .mb-6 {
    margin-bottom: 4rem;
  }

  .mb-14 {
    margin-bottom: 4rem;
  }

  .pb-6 {
    padding-bottom: 0;
  }

  .hero-image-grid .right {
    margin-top: 0;
  }

  .product-card {
  width: calc(50% - 0.5rem);
  }

  .campaigns h2{
    padding: 0 ;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  header,
  footer {
    padding: 2em 2em;
  }

  .logo {
    max-width: 5rem;
  }

  .button.contact {
    padding: 0.7rem 0.7rem;
    font-size: 14px;
  }

  .cash-gifting .pb-6 {
    padding-bottom: 0;
  }

  .graphic-container{
    padding: 2em 2em;
  }

  footer nav ul {
    flex-direction: column;
  }

  footer nav ul li {
    margin-bottom: 0.8rem;
  }

  .powered-by {
    align-items: center;
  }

  .modal{
    padding:1em;
  }

  #form{
    width: 90%;
  }
}
